
@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Calendar</h4>
                        </div>
                        <div class="row">

                            <div class="col-lg-12" style="background-color: powderblue;">
                                <div class="card-box m-b-6">
                                    <div id="calendar"></div>
                                </div>
                            </div>

                            <!-- BEGIN MODAL -->
                            <div class="modal fade none-border" id="event-modal">
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="ModalTitle"><strong>Etkinlik Güncelle</strong></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-valide" method="post" id="form1" accept-charset="utf-8" enctype="multipart/form-data">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="EventId">
                                                        Id
                                                    </label>
                                                    <label class="col-lg-6 col-form-label" id="EventId" for="EventId">

                                                    </label>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="title">
                                                        Başlık <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="Title" name="Title" disabled>
                                                    </div>
                                                </div>                                                
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="startDatetime">
                                                        Başlangıç Tarihi ve Saati <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <input type="date" class="form-control dobpicker" id="StartDate" name="StartDate" placeholder="Gün/Ay/Yıl" data-date-format="yyyy-mm-dd" required>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <input type="time" class="form-control dobpicker" id="StartTime" name="StartTime" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="finishDatetime">
                                                        Bitiş Tarihi ve Saati <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <input type="date" class="form-control dobpicker" id="FinishDate" name="FinishDate" placeholder="Gün/Ay/Yıl" data-date-format="yyyy-MM-dd" required>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <input type="time" class="form-control dobpicker" id="FinishTime" name="FinishTime" required>
                                                    </div>
                                                </div>                                                
                                                <div class="form-group row">
                                                    <div class="col-md-4 ml-auto">
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Kapat</button>
                                                    </div>
                                                    <div class="col-md-4 ml-auto">
                                                        <button type="submit" class="btn btn-success save-event waves-effect waves-light" onclick="return EventDateTimeUpdate();" runat="server">Kaydet</button>
                                                    </div>
                                                    <div class="col-md-4 ml-auto">
                                                        <button type="submit" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal" onclick="return EventStatusUpdate();" runat="server">Etkinliği İptal Et</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MODAL -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#calendar').fullCalendar({
        monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
        monthNamesShort: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
        dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
        dayNamesShort: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
        editable: true,
        buttonText: {
            today: 'Bugün',
            month: 'Ay',
            week: 'Hafta',
            day: 'Gün',
            list: 'Liste',
            listMonth: 'Aylık Liste',
            listYear: 'Yıllık Liste',
            listWeek: 'Haftalık Liste',
            listDay: 'Günlük Liste'
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
        },
        navLinks: true,
        editable: true,
        eventLimit: true,
        events: @Json.Serialize(@Model.AllEvents),
        eventClick: function (info) {
            $("#event-modal").modal('show');

            console.log(info);

            var EventId = document.getElementById('EventId');
            EventId.textContent = info.id;

            var title = document.getElementById('Title');
            title.setAttribute('value',info.title);

            // start

            var datetimeStart = new Date(info.start._i);

            var startDate = document.getElementById('StartDate');
            startDate.setAttribute('value', new Date(datetimeStart).toISOString().slice(0, 10));

            var startTime = document.getElementById('StartTime');
            startTime.setAttribute('value', datetimeStart.getHours() + ":" + (datetimeStart.getMinutes() < 10 ? '0' + datetimeStart.getMinutes() : datetimeStart.getMinutes()));
            //

            //end

            var datetimeFinish = new Date(info.end._i);

            var finishDate = document.getElementById('FinishDate');
            finishDate.setAttribute('value', new Date(datetimeFinish).toISOString().slice(0, 10));

            var finishTime = document.getElementById('FinishTime');
            finishTime.setAttribute('value', datetimeFinish.getHours() + ":" + (datetimeFinish.getMinutes() < 10 ? '0' + datetimeFinish.getMinutes() : datetimeFinish.getMinutes()));
            //
        },
    });

    $('.dobpicker').datepicker({
        autoclose: true,
    });

    async function EventDateTimeUpdate() {

        const formCheck = document.getElementById('form1').checkValidity();
        console.log(formCheck);

        if (formCheck == true) {

            var id = document.getElementById('EventId').textContent;
            var SDate = document.getElementById('StartDate').value;
            var STime = document.getElementById('StartTime').value;
            var EDate = document.getElementById('FinishDate').value;
            var ETime = document.getElementById('FinishTime').value;

            await $.post("@Url.Action("EventDateTimeUpdate","Admin")", { Id: parseInt(id), StartDate: SDate, StartTime: STime, FinishDate: EDate, FinishTime: ETime }).done(function (response, status, jqxhr) {
                alert(response.Message);
                window.location.href = "@Url.Action("Calendar", "Admin")";
            }).fail(function (jqxhr, status, error) {
                alert(error);
                window.location.href = "@Url.Action("Calendar", "Admin")";
            });
        } else {
            alert("Lütfen tüm alanları geçerli cevaplar ile doldurunuz.");
            document.getElementById('form1').reportValidity();
            return false;
        }
    }

    async function EventStatusUpdate() {

        var id = document.getElementById('EventId').textContent;

        await $.post("@Url.Action("EventStatusUpdate","Admin")", { Id: parseInt(id) }).done(function (response, status, jqxhr) {
            alert(response.Message);
            window.location.href = "@Url.Action("Calendar", "Admin")";
        }).fail(function (jqxhr, status, error) {
            alert(error);
            window.location.href = "@Url.Action("Calendar", "Admin")";
        });
    }
</script>