@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-body">

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white" asp-action="UserList" asp-controller="UserIslemleri">Aktif Kullanıcı Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@Model.ActiveAllUserCount</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white" asp-action="EventList" asp-controller="Admin">Aktif Etkinlik Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@Model.ActiveAllActivityCount</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white" asp-action="BlogList" asp-controller="Blog">Aktif Blog Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@Model.ActiveAllBlogCount</h2>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-pencil-square-o"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white" asp-action="ArticleList" asp-controller="Article">Aktif Sayfa Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@Model.ActiveAllArticleCount</h2>
                            <p class="text-white mb-0">Bir Aylık Yeni Kayıt Sayfa Sayısı\@Model.LastMounthArticleCount</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-file-text"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <!--Appointment -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Son 1 Hafta İçinde Olan Randevular</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Randevu Tarihi</th>
                                                <th>Diyetisten Adı</th>
                                                <th>Danışan Adı</th>
                                                <th>Başlık</th>
                                                <th>Açıklama</th>
                                                <th>Ücret</th>
                                                <th>Rapor</th>
                                                <th>Durumu</th>
                                                <th>Kayıt Tarihi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.ActiveLastWeekAppointment)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.AppointmentDate</td>
                                                    <td>@item.UserName</td>
                                                    <td>@item.MemeberName</td>
                                                    <td>@item.Subject</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.Price</td>
                                                    <td><a class="btn btn-outline-success" asp-action="MemberAppointmentDetail" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-pencil"> Tetkikler</i></a></td>
                                                    <td>@item.StatusName</td>
                                                    <td>@item.CreateDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Appointment End -->
        <!--Event -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Son 1 İçinde Olan Aktif Etkinlikler</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Başlık</th>
                                                <th>Etkinlik Kategori Adı</th>
                                                <th>Başlangıç Tarihi</th>
                                                <th>Bitiş Tarihi</th>
                                                <th>Durum</th>
                                                <th>Kayıt Tarihi</th>
                                                <th>Güncelle</th>
                                                <th>Sil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.ActiveOneWeekActivities)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.EventCategoryName</td>
                                                    <td>@item.StartDatetime</td>
                                                    <td>@item.FinishDatetime</td>
                                                    <td>@item.StatusName</td>
                                                    <td>@item.CreateDate</td>
                                                    <td><a class="btn btn-outline-success" asp-action="EventUpdate" asp-controller="Admin" asp-route-id="@item.Id"><i class="fa fa-pencil"> Güncelle</i></a></td>
                                                    <td><a class="btn btn-outline-danger" asp-action="EventDelete" asp-controller="Admin" asp-route-id="@item.Id"><i class="fa fa-trash"> Sil</i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Event End -->
        <!-- User-->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Son 1 Ay da Kayıt Olan Aktif Kullanıcılar</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Ad Soyad</th>
                                                <th>Email</th>
                                                <th>Telefon</th>
                                                <th>Durumu</th>
                                                <th>Şehir</th>
                                                <th>Oluşturulma Tarihi</th>
                                                <th>Detay Gör</th>
                                                <th>Güncelle</th>
                                                <th>Sil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.ActiveOneMonthCreateUsers)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.NameSurname</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Phone</td>
                                                    @if (@item.IsActive)
                                                    {
                                                        <td>Aktif</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Pasif</td>
                                                    }
                                                    <td>@item.Lacation</td>
                                                    <td>@item.CreateDate</td>
                                                    <td><a class="btn btn-outline-success" asp-action="GetByIdMembersInformation" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"> Detay Gör</i></a></td>
                                                    <td><a class="btn btn-outline-success" asp-action="UserUpdate" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"> Güncelle</i></a></td>
                                                    <td><a class="btn btn-outline-danger" asp-action="UserDelete" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"> Sil</i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User End-->        
        <!--Blog -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Son 1 Hafta İçinde Kayıt Olan Aktif Bloglar</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Başlık</th>
                                                <th>URL Link</th>
                                                <th>Dil</th>
                                                <th>Durumu</th>
                                                <th>Kayıt Tarihi</th>
                                                <th>Güncelleme Tarihi</th>
                                                <th>Güncelle</th>
                                                <th>Sil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.ActiveOneWeekBlogs)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.UrlRoot</td>
                                                    <td>@item.Language</td>
                                                    <td>@item.StatusName</td>
                                                    <td>@item.CreateDate</td>
                                                    <td>@item.UpdateDate</td>
                                                    <td><a class="btn btn-outline-success" asp-action="BlogUpdate" asp-controller="Blog" asp-route-id="@item.Id"><i class="fa fa-pencil"> Güncelle</i></a></td>
                                                    <td><a class="btn btn-outline-danger" asp-action="BlogDelete" asp-controller="Blog" asp-route-id="@item.Id"><i class="fa fa-trash"> Sil</i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Blog End -->
        <!--Confession -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Son 1 Hafta İçinde Kayıt Olan İtiraflar</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Danışan</th>
                                                <th>Danışan İtirafı</th>
                                                <th>Dil</th>
                                                <th>Durumu</th>
                                                <th>Kayıt Tarihi</th>
                                                <th>Güncelle</th>
                                                <th>Sil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.LastWeekConfession)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.MemberName</td>
                                                    <td>@item.MemberConfession</td>
                                                    <td>@item.Language</td>
                                                    <td>@item.StatusName</td>
                                                    <td>@item.CreateDatetime</td>
                                                    <td><a class="btn btn-outline-success" asp-action="ConfessionUpdate" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-pencil"> Güncelle</i></a></td>
                                                    <td><a class="btn btn-outline-danger" asp-action="ConfessionDelete" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-trash"> Sil</i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Confession End -->
@*        <!--All Appointment -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Aktif Tüm Randevular</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Randevu Tarihi</th>
                                                <th>Diyetisten Adı</th>
                                                <th>Danışan Adı</th>
                                                <th>Başlık</th>
                                                <th>Açıklama</th>
                                                <th>Ücret</th>
                                                <th>Rapor</th>
                                                <th>Durumu</th>
                                                <th>Kayıt Tarihi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.ActiveAllAppointment)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.AppointmentDate</td>
                                                    <td>@item.UserName</td>
                                                    <td>@item.MemeberName</td>
                                                    <td>@item.Subject</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.Price</td>
                                                    <td><a class="btn btn-outline-success" asp-action="MemberAppointmentDetail" asp-controller="UserIslemleri" asp-route-id="@item.Id"><i class="fa fa-pencil"> Tetkikler</i></a></td>
                                                    <td>@item.StatusName</td>
                                                    <td>@item.CreateDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--All Appointment End -->*@
        
    </div>
    <!-- #/ container -->
</div>

