
@{
    ViewData["Title"] = "ArticleCategoryCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--**********************************
           Content body start
       ***********************************-->
<div class="content-body">

    @*  <div class="row page-titles mx-0">
    <div class="col p-md-0">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
    </ol>
    </div>
    </div>
    <!-- row -->*@

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" method="post" asp-controller="Article" asp-action="ArticleCategoryCreate">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metaTitle">
                                        MetaTitle <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metaTitle" name="metaTitle" placeholder="MetaTitle" maxlength="250" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metaKey">
                                        MetaKey<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metaKey" name="metaKey" placeholder="MetaKey" maxlength="250" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metaDescription">
                                        MetaDescription<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metaDescription" name="metaDescription" placeholder="MetaDescription" maxlength="250" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="categoryName">
                                        Kategori Adı <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Kategori Adı" maxlength="250" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="parentId">
                                        Parent
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="parentId" name="parentId">
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.ArticleCategories)
                                            {
                                                <option value="@item.Id">@item.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="statusId">
                                        Durumu <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="statusId" name="statusId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Statuses)
                                            {
                                                <option value="@item.Id">@item.StatusName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="langId">
                                        Dil <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="langId" name="langId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Languages)
                                            {
                                                <option value="@item.Id">@item.Language</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
