
@{
    ViewData["Title"] = "DietListCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--**********************************
           Content body start
       ***********************************-->
<div class="content-body">

    @*  <div class="row page-titles mx-0">
    <div class="col p-md-0">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
    </ol>
    </div>
    </div>
    <!-- row -->*@

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" method="post" asp-controller="DoctorGeneralOptions" asp-action="DietListCreate" accept-charset="utf-8" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="title">
                                        Başlık <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="title" name="title" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="description">
                                        Açıklama <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="description" name="description">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="appointmentDetailId">
                                        Danışan Raporları <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="appointmentDetailId" name="appointmentDetailId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.AppointmentDetails)
                                            {
                                                <option value="@item.Id">@item.MemberName - @item.Diagnosis</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="_DaysDescription">
                                        Menu <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="_DaysDescription" name="_DaysDescription">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="daysId">
                                        Gün <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="daysId" name="daysId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Days)
                                            {
                                                <option value="@item.Id">@item.DayName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="mealId">
                                        Öğün <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="mealId" name="mealId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Meals)
                                            {
                                                <option value="@item.Id">@item.MealName</option>
                                            }
                                        </select>
                                    </div>
                                </div>                                                        
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="timeInterval">
                                        Öğün Saati <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="time" class="form-control dobpicker" id="timeInterval" name="timeInterval" required>
                                    </div>
                                </div>  
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

<script>
    jQuery(document).ready(function () {
        $('.dobpicker').datepicker({
            autoclose: true,
        });
</script>