@{
    ViewData["Title"] = "MemberInfoView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!--**********************************
    Content body start
***********************************-->
<div class="content-body">

    @* <div class="row page-titles mx-0">
    <div class="col p-md-0">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
    </ol>
    </div>
    </div>
    <!-- row -->*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="step-form-horizontal" method="post" asp-action="MemberInfoUpdate" asp-controller="Member" class="step-form-horizontal">
                    <div>
                        <!-- Section 1 Start-->
                        <h4>Detaylı Danışan Bilgileri:</h4>
                        <section>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="FormFile">
                                    Fotoğraf Ekleyin
                                </label>
                                <div class="col-lg-4 ">
                                    <div class="avatar-wrapper">
                                        <img class="profile-pic" src="" />
                                        <div class="upload-button">
                                            <i class="fa fa-arrow-circle-up" aria-hidden="true">

                                            </i>
                                        </div>
                                        <input class="fa fa-arrow-circle-up" type="file" name="FormFile" id="FormFile" accept=".png,.jpg,.jpeg" runat="server" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameSurname">
                                    Ad Soyad <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="@Model.Name @Model.Surname" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="birthdate">
                                    Doğum Tarihi <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="birthdate" name="birthdate" value="@Model.Birthdate" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="job">
                                    Mesleği <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="job" name="job" value="@Model.Job" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="phoneNumber">
                                    Cep Telefonu <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="@Model.PhoneNumber" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="email">
                                    E-Posta Adresi <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="email" name="email" value="@Model.Email" required>
                                </div>
                            </div>
                        </section>
                        <!-- Section 1 End-->
                        <!-- Section 2 Start-->
                        <h4>Bilgi Formu Adım 2</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Aile de olan, bilinen hastalıklar:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Kilo Öykünüz <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" required>
                                                @Model.HistoryOfWeigh
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyDiabetes">
                                            DM (Şeker Hastalığı) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyDiabetes" name="diseasesFamilyDiabetes" data-val="@Model.DiseasesFamilyDiabetes" checked="@Model.DiseasesFamilyDiabetes" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyHeart">
                                            Kalp / Tansiyon <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyHeart" name="diseasesFamilyHeart" data-val="@Model.DiseasesFamilyHeart" checked="@Model.DiseasesFamilyHeart" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyTiroid">
                                            Tiroid <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyTiroid" name="diseasesFamilyTiroid" data-val="@Model.DiseasesFamilyTiroid" checked="@Model.DiseasesFamilyTiroid" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyHormone">
                                            Hormon Düzensizliği <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyHormone" name="diseasesFamilyHormone" data-val="@Model.DiseasesFamilyHormone" checked="@Model.DiseasesFamilyHormone" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyCancer">
                                            Kanser <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyCancer" name="diseasesFamilyCancer" data-val="@Model.DiseasesFamilyCancer" checked="@Model.DiseasesFamilyCancer" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyGout">
                                            Gut <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyGout" name="diseasesFamilyGout" data-val="@Model.DiseasesFamilyGout" checked="@Model.DiseasesFamilyGout" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesFamilyEpilepsy">
                                            Epilepsi <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesFamilyEpilepsy" name="diseasesFamilyEpilepsy" data-val="@Model.DiseasesFamilyEpilepsy" checked="@Model.DiseasesFamilyEpilepsy" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="cPreviousDisease">
                                            Teşhisi konulmuş bir hastalık var mı? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="cPreviousDisease" name="cPreviousDisease" data-val="@Model.CpreviousDisease" checked="@Model.CpreviousDisease" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Bir günlük beslenme alışkanlığı:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsBreakfast">
                                            Sabah <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodHabitsBreakfast" name="foodHabitsBreakfast" rows="1" required>
                                                @Model.FoodHabitsBreakfast
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsBreakfastSnack">
                                            Sabah Ara <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodHabitsBreakfastSnack" name="foodHabitsBreakfastSnack" rows="1" required>
                                                @Model.FoodHabitsBreakfastSnack
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsLunch">
                                            Öğlen <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodHabitsLunch" name="foodHabitsLunch" rows="1" required>
                                                @Model.FoodHabitsLunch
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsLunchSnack">
                                            Öğlen Ara <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodHabitsLunchSnack" name="foodHabitsLunchSnack" rows="1" required>
                                                @Model.FoodHabitsLunchSnack
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsDinner">
                                            Akşam <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodHabitsDinner" name="foodHabitsDinner" rows="1" required>
                                                @Model.FoodHabitsDinner
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsDinnerSnack">
                                            Akşam Ara <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodHabitsDinnerSnack" name="foodHabitsDinnerSnack" rows="1" required>
                                                @Model.FoodHabitsDinnerSnack
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="oneDaySummary">
                                            Geçmişte yapılan bir diyetin bir gününü <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="oneDaySummary" name="oneDaySummary" rows="1" required>
                                                @Model.OneDaySummary
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 2 End-->
                        <!-- Section 3 Start-->
                        <h4>Bilgi Formu Adım 3</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Bir günde tüketilen sıvı miktarı:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="theQuantityConsumedWater">
                                            Su <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="theQuantityConsumedWater" name="theQuantityConsumedWater" value="@Model.TheQuantityConsumedWater" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="theQuantityConsumedTea">
                                            Çay <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="theQuantityConsumedTea" name="theQuantityConsumedTea" value="@Model.TheQuantityConsumedTea" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="theQuantityConsumedCoffe">
                                            Kahve <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="theQuantityConsumedCoffe" name="theQuantityConsumedCoffe" value="@Model.TheQuantityConsumedCoffe" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="theQuantityConsumedFizzy">
                                            Gazlı İçecekler <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="theQuantityConsumedFizzy" name="theQuantityConsumedFizzy" value="@Model.TheQuantityConsumedFizzy" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="theQuantityConsumedAlchol">
                                            Alkol <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="theQuantityConsumedAlchol" name="theQuantityConsumedAlchol" value="@Model.TheQuantityConsumedAlchol" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="doYouUseCigarettes">
                                            Sigara kullanıyor mu? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="doYouUseCigarettes" name="doYouUseCigarettes" checked="@Model.DoYouUseCigarettes" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="haveYouGainedWeight">
                                            Bırakıldıysa bu süreçte kilo alındı mı? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="haveYouGainedWeight" name="haveYouGainedWeight" checked="@Model.HaveYouGainedWeight" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Sevilen, sevilmeyen ve alerjisi olduğu yiyecekler nelerdir?:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="allergyProducingFoodsLike">
                                            Sevdikleri <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="allergyProducingFoodsLike" name="allergyProducingFoodsLike" rows="1" required>
                                                @Model.AllergyProducingFoodsLike
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="allergyProducingDislike">
                                            Sevmedikleri <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="allergyProducingDislike" name="allergyProducingDislike" rows="1" required>
                                                @Model.AllergyProducingDislike
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="allergyProducingFoodsAllergen">
                                            Alerjisi olan <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="allergyProducingFoodsAllergen" name="allergyProducingFoodsAllergen" rows="1" required>
                                                @Model.AllergyProducingFoodsAllergen
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodLocation">
                                            Yemekleri evde mi, dışarıda mı yersiniz? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodLocation" name="foodLocation" rows="1" required>
                                                @Model.FoodLocation
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodMade">
                                            Evde yemekleri kim yapıyor? İşyerinize yemek götürebilir misiniz? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="foodMade" name="foodMade" rows="1" required>
                                                @Model.FoodMade
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 3 End-->
                        <!-- Section 4 Start-->
                        <h4>Bilgi Formu Adım 4</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Sosyal hayatınızda haftaiçi - haftasonu hangi saatlerde yemek yersiniz? Hangi yemekleri tercih edersiniz?</h5>
                                    <h6>Haftaiçi</h6>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodTimeWeekdayMorning">
                                            Sabah <span class="text-danger">*</span>:
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="foodTimeWeekdayMorning" name="foodTimeWeekdayMorning" value="@Model.FoodTimeWeekdayMorning" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodTimeWeekdayNoon">
                                            Öğle <span class="text-danger">*</span>:
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="foodTimeWeekdayNoon" name="foodTimeWeekdayNoon" value="@Model.FoodTimeWeekdayNoon" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodTimeWeekdayNight">
                                            Akşam <span class="text-danger">*</span>:
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="foodTimeWeekdayNight" name="foodTimeWeekdayNight" value="@Model.FoodTimeWeekdayNight" required>
                                        </div>
                                    </div>
                                    <h6>Haftasonu</h6>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodTimeWeekendMorning">
                                            Sabah <span class="text-danger">*</span>:
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="foodTimeWeekendMorning" name="foodTimeWeekendMorning" value="@Model.FoodTimeWeekendMorning" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodTimeWeekendNoon">
                                            Öğle <span class="text-danger">*</span>:
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="foodTimeWeekendNoon" name="foodTimeWeekendNoon" value="@Model.FoodTimeWeekendNoon" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodTimeWeekendNight">
                                            Akşam <span class="text-danger">*</span>:
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="foodTimeWeekendNight" name="foodTimeWeekendNight" value="@Model.FoodTimeWeekendNight" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Ruh haliniz beslenmenizi nasıl etkiler? :</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsMoodSad">
                                            Üzüntülü olduğumda yerim <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="foodHabitsMoodSad" name="foodHabitsMoodSad" checked="@Model.FoodHabitsMoodSad" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsMoodStress">
                                            Stresli olduğumda yerim <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="foodHabitsMoodStress" name="foodHabitsMoodStress" checked="@Model.FoodHabitsMoodStress" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsMoodDoomy">
                                            Depresif olduğumda yerim <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="foodHabitsMoodDoomy" name="foodHabitsMoodDoomy" checked="@Model.FoodHabitsMoodDoomy" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsMoodHappy">
                                            Mutlu olduğumda yerim <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="foodHabitsMoodHappy" name="foodHabitsMoodHappy" checked="@Model.FoodHabitsMoodHappy" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="foodHabitsMoodAll">
                                            Yukarıdakilerin hepsi <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="foodHabitsMoodAll" name="foodHabitsMoodAll" checked="@Model.FoodHabitsMoodAll" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 4 End-->
                        <!-- Section 5 Start-->
                        <h4>Bilgi Formu Adım 5</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>
                                        Kadınsanız
                                    </h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateMenstruation">
                                            Mensturasyon <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateMenstruation" name="femaleMentalStateMenstruation" rows="1" required>
                                                @Model.FemaleMentalStateMenstruation
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateMenopause">
                                            Menapoz <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateMenopause" name="femaleMentalStateMenopause" rows="1" required>
                                                @Model.FemaleMentalStateMenopause
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateGravidity">
                                            Hamilelik <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateGravidity" name="femaleMentalStateGravidity" rows="1" required>
                                                @Model.FemaleMentalStateGravidity
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateBreastFeeding">
                                            Emzirme <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateBreastFeeding" name="femaleMentalStateBreastFeeding" rows="1" required>
                                                @Model.FemaleMentalStateBreastFeeding
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateIsBreastFeedingPeriod">
                                            Şu anda emzirme döneminde misiniz? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateIsBreastFeedingPeriod" name="femaleMentalStateIsBreastFeedingPeriod" rows="1" required>
                                                @Model.FemaleMentalStateIsBreastFeedingPeriod
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateIsMenstruatioRegular">
                                            Mensturasyonunuz düzenli mi? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateIsMenstruatioRegular" name="femaleMentalStateIsMenstruatioRegular" rows="1" required>
                                                @Model.FemaleMentalStateIsMenstruatioRegular
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateIsHormontherapy">
                                            Herhangi bir hormon tedavisi görüyor musunuz? Gördünüz mü? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateIsHormontherapy" name="femaleMentalStateIsHormontherapy" rows="1" required>
                                                @Model.FemaleMentalStateIsHormontherapy
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="femaleMentalStateIsGiveBirthTo">
                                            Doğum yaptınız mı? (normal - sezeryan) Kaç kere? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="femaleMentalStateIsGiveBirthTo" name="femaleMentalStateIsGiveBirthTo" rows="1" required>
                                                @Model.FemaleMentalStateIsGiveBirthTo
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Erkekseniz</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="manTheNeedForEatingVaries">
                                            Hangi koşullarda yemek ihtiyacınızın değiştiğini not ediniz <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="manTheNeedForEatingVaries" name="manTheNeedForEatingVaries" rows="1" required>
                                                @Model.ManTheNeedForEatingVaries
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="didYouGainWeightInTheArmy">
                                            Askerlik döneminde kilo aldınız mı? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="didYouGainWeightInTheArmy" name="didYouGainWeightInTheArmy" checked="@Model.DidYouGainWeightInTheArmy" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 5 End-->
                        <!-- Section 6 Start-->
                        <h4>Bilgi Formu Adım 6</h4>
                        <section>
                            <div class="row">
                                <div class="col-4">
                                    <h5>Sindirim sistemi ile ilgili probleminiz var mı? :</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesReflux">
                                            Reflü özofajit (Mide yanması) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesReflux" name="diseasesReflux" checked="@Model.DiseasesReflux" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesDifaji">
                                            Yutma güçlüğü (Difaji) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesDifaji" name="diseasesDifaji" checked="@Model.DiseasesDifaji" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesRegurgitation">
                                            Ağıza yiyeceklerin gelmesi (Regürjitasyon) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesRegurgitation" name="diseasesRegurgitation" checked="@Model.DiseasesRegurgitation" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesHernia">
                                            Mide fıtığı (Sürekli açlık-kazıntı) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesHernia" name="diseasesHernia" checked="@Model.DiseasesHernia" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesDyspepsia">
                                            Bulantı - kusma hazımsızlık (Dispepsi) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesDyspepsia" name="diseasesDyspepsia" checked="@Model.DiseasesDyspepsia" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesHelicobacterPylori">
                                            Helikopbacter pylori (Mide mikrobu) (Mide ağrısı) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesHelicobacterPylori" name="diseasesHelicobacterPylori" checked="@Model.DiseasesHelicobacterPylori" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesGastritis">
                                            Gastrit <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesGastritis" name="diseasesGastritis" checked="@Model.DiseasesGastritis" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesUlcer">
                                            Ülser <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesUlcer" name="diseasesUlcer" checked="@Model.DiseasesUlcer" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesGastricCancer">
                                            Mide kanseri <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesGastricCancer" name="diseasesGastricCancer" checked="@Model.DiseasesGastricCancer" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesIntestinalObstruction">
                                            Bağırsak tıkanması <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesIntestinalObstruction" name="diseasesIntestinalObstruction" checked="@Model.DiseasesIntestinalObstruction" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesAcuteDiarrhea">
                                            Akut ishaller <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesAcuteDiarrhea" name="diseasesAcuteDiarrhea" checked="@Model.DiseasesAcuteDiarrhea" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesChronicDiarrhea">
                                            Sürekli ishaller (Kronik diyare) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesChronicDiarrhea" name="diseasesChronicDiarrhea" checked="@Model.DiseasesChronicDiarrhea" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesConstipation">
                                            Kabızlık (Constipation) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesConstipation" name="diseasesConstipation" checked="@Model.DiseasesConstipation" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesSpasticColon">
                                            Spastik kolon (İrritabi bağırsak sendromu) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesSpasticColon" name="diseasesSpasticColon" checked="@Model.DiseasesSpasticColon" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesGas">
                                            Karında gaz - şişkinlik <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesGas" name="diseasesGas" checked="@Model.DiseasesGas" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesIntestinalParasites">
                                            Bağırsak parazitleri <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesIntestinalParasites" name="diseasesIntestinalParasites" checked="@Model.DiseasesIntestinalParasites" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesUlcerativeColitis">
                                            Kolitis ülseroza (Ülseratif kolit) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesUlcerativeColitis" name="diseasesUlcerativeColitis" checked="@Model.DiseasesUlcerativeColitis" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesCrohn">
                                            Crohn hastalığı <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesCrohn" name="diseasesCrohn" checked="@Model.DiseasesCrohn" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesColonCancer">
                                            Kalın bağırsak kanseri (Kolon kanseri) <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesColonCancer" name="diseasesColonCancer" checked="@Model.DiseasesColonCancer" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 6 End-->
                        <!-- Section 7 Start-->
                        <h4>Bilgi Formu Adım 7</h4>
                        <section>
                            <div class="row">
                                <div class="col-3">
                                    <h5>Kalp - damar hastalıklarınız var mı? :</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesCardiovascularHypertension">
                                            Hipertansiyon <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesCardiovascularHypertension" name="diseasesCardiovascularHypertension" checked="@Model.DiseasesCardiovascularHypertension" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesCardiovascularHypotension">
                                            Hipotansiyon <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesCardiovascularHypotension" name="diseasesCardiovascularHypotension" checked="@Model.DiseasesCardiovascularHypotension" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesCardiovascularPalpitation">
                                            Çarpıntı <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesCardiovascularPalpitation" name="diseasesCardiovascularPalpitation" checked="@Model.DiseasesCardiovascularPalpitation" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesCardiovascularHeart">
                                            Kalp hastalığı <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesCardiovascularHeart" name="diseasesCardiovascularHeart" checked="@Model.DiseasesCardiovascularHeart" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <h5>Şeker hastalığınız var mı?</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesDiabetesHypoglycemia">
                                            Hipoglisemi <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesDiabetesHypoglycemia" name="diseasesDiabetesHypoglycemia" checked="@Model.DiseasesDiabetesHypoglycemia" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesDiabetesTypeOneDiabetes">
                                            Tip 1 diabet <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesDiabetesTypeOneDiabetes" name="diseasesDiabetesTypeOneDiabetes" checked="@Model.DiseasesDiabetesTypeOneDiabetes" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="diseasesDiabetesTypeTwoDiabetes">
                                            Tip 2 diabet <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" id="diseasesDiabetesTypeTwoDiabetes" name="diseasesDiabetesTypeTwoDiabetes" checked="@Model.DiseasesDiabetesTypeTwoDiabetes" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="isBloodCoagulationDisorders">
                                            Kan pıhtılaşma probleminiz var mı? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="isBloodCoagulationDisorders" name="isBloodCoagulationDisorders" rows="1" required>
                                                @Model.IsBloodCoagulationDisorders
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="doYouHaveHormonalProblem">
                                            Hormonal bir probleminiz var mı? (Triod, kadınlık hormonu, kortizol v.s.)
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="doYouHaveHormonalProblem" name="doYouHaveHormonalProblem" rows="1" required>
                                                @Model.DoYouHaveHormonalProblem
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="howDoYouFeel">
                                            Kendinizi nasıl hissediyorsunuz? <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-group">
                                            @if (@Model.HowDoYouFeel == 1)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="1" checked>Çok sağlıklı
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="2">Şöyle - Böyle
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="3">Kötü
                                                </label>
                                            }
                                            else if (@Model.HowDoYouFeel == 2)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="1">Çok sağlıklı
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="2" checked>Şöyle - Böyle
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="3">Kötü
                                                </label>
                                            }
                                            else if (@Model.HowDoYouFeel == 3)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="1">Çok sağlıklı
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="2">Şöyle - Böyle
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="3" checked>Kötü
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="1">Çok sağlıklı
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="2">Şöyle - Böyle
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howDoYouFeel" id="howDoYouFeel" value="3">Kötü
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="howIsYourEnergy">
                                            Enerjiniz nasıl? <span class="text-danger">*</span>
                                        </label>

                                        <div class="form-group">
                                            @if (@Model.HowIsYourEnergy == 1)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="1" checked>Çok iyi
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="2">İyi
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="3">Kötü
                                                </label>
                                            }
                                            else if (@Model.HowIsYourEnergy == 2)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="1">Çok iyi
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="2" checked>İyi
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="3">Kötü
                                                </label>
                                            }
                                            else if (@Model.HowIsYourEnergy == 3)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="1">Çok iyi
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="2">İyi
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="3" checked>Kötü
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="1">Çok iyi
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="2">İyi
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howIsYourEnergy" id="howIsYourEnergy" value="3">Kötü
                                                </label>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="howFrequencyOfActivity">
                                            Hangi ifade aktivite sıklığınızı belirler? <span class="text-danger">*</span>
                                        </label>

                                        <div class="form-group">
                                            @if (@Model.HowFrequencyOfActivity == 1)
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="1" checked>Düzenli yürüyüş / spor
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="2">Arada bir yürüyüş / spor
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="3">Hiç hareket yok
                                                </label>
                                            }
                                            else if (@Model.HowFrequencyOfActivity == 2)
                                            {
                                                <label class="radio-inline mr-3">
                                                <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="1">Düzenli yürüyüş / spor
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="2" checked>Arada bir yürüyüş / spor
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="3">Hiç hareket yok
                                            </label>
                                            }
                                            else if (@Model.HowFrequencyOfActivity == 3)
                                            {
                                                <label class="radio-inline mr-3">
                                                <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="1">Düzenli yürüyüş / spor
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="2">Arada bir yürüyüş / spor
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="3" checked>Hiç hareket yok
                                            </label>
                                            }
                                            else
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="1">Düzenli yürüyüş / spor
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="2">Arada bir yürüyüş / spor
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="howFrequencyOfActivity" id="howFrequencyOfActivity" value="3">Hiç hareket yok
                                                </label>
                                            }                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="consumedVegetables">
                                            Bir gün boyunca ne kadar taze meyve ve sebze yiyorsunuz? <span class="text-danger">*</span>
                                        </label>

                                        <div class="form-group">
                                            @if (@Model.ConsumedVegetables == 1)
                                            {
                                                <label class="radio-inline mr-3">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="1" checked>3 - 4 Porsiyon
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="2">1 - 2 Porsiyon
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="3">1 veya hiç
                                            </label>
                                            }
                                            else if (@Model.HowFrequencyOfActivity == 2)
                                            {
                                                <label class="radio-inline mr-3">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="1">3 - 4 Porsiyon
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="2" checked>1 - 2 Porsiyon
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="3">1 veya hiç
                                            </label>
                                            }
                                            else if (@Model.HowFrequencyOfActivity == 3)
                                            {
                                                <label class="radio-inline mr-3">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="1">3 - 4 Porsiyon
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="2">1 - 2 Porsiyon
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="consumedVegetables" id="consumedVegetables" value="3" checked>1 veya hiç
                                            </label>
                                            }
                                            else
                                            {
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="consumedVegetables" id="consumedVegetables" value="1">3 - 4 Porsiyon
                                                </label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="consumedVegetables" id="consumedVegetables" value="2">1 - 2 Porsiyon
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="consumedVegetables" id="consumedVegetables" value="3">1 veya hiç
                                                </label>
                                            }                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="getDrugged">
                                            Düzenli kullandığınız bir ilaç var mı? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="getDrugged" name="getDrugged" rows="1" required>
                                                @Model.GetDrugged
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="doYouUseVitaminAndMinerals">
                                            Vitamin - mineral kullanıyor musunuz? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="doYouUseVitaminAndMinerals" rows="1" required>
                                                @Model.DoYouUseVitaminAndMinerals
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="otherMessage">
                                            Kendinizle ilgili bilgi vermek istediğiniz başka konu var mı? <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="otherMessage" name="otherMessage" rows="1" required>
                                                @Model.OtherMessage
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 7 End-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('a:contains("Finish")').click(function () {
            const formCheck = document.getElementById('step-form-horizontal').checkValidity();
            if (formCheck == true) {
                document.getElementById("step-form-horizontal").submit();
            }
        });
    });
</script>