
@{
    ViewData["Title"] = "ResultOptimumsList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--**********************************
           Content body start
       ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ResultOptimum Listesi</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Result1text</th>
                                        <th>Result2text</th>
                                        <th>Result3text</th>
                                        <th>Result4text</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.Result1text</td>
                                                    <td>@item.Result2text</td>
                                                    <td>@item.Result3text</td>
                                                    <td>@item.Result4text</td>
                                                    <td><a class="btn btn-outline-success" asp-action="ResultOptimumsUpdate" asp-controller="Result" asp-route-id="@item.Id"><i class="fa fa-pencil"> Güncelle</i></a></td>
                                                    <td><a class="btn btn-outline-danger" asp-action="ResultOptimumsDelete" asp-controller="Result" asp-route-id="@item.Id"><i class="fa fa-trash"> Sil</i></a></td>
                                                </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->